body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  background-color: #000;
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.display-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  overflow: hidden;
}

.display {
  color: #eee;
  font-size: 72px;
  text-align: right;
  font-weight: 100;
  padding-top: 30px;
  font-family: 'AvenirNext-UltraLight';
}

.history {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 16px 16px 20px;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.history::-webkit-scrollbar {
  display: none;
}

.history::after {
  content: '';
  display: block;
  padding-right: 16px;
}

.history-item {
  color: #444;
  font-size: 12px;
  font-family: 'Avenir Next';
  font-weight: 600;
  padding: 2px 8px 1px;
  border: 2px solid #444;
  border-radius: 4px;
  margin-right: 8px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.2s;
}

.history-item:active {
  background-color: #444;
  color: #000;
  transform: scale(1.3);
  transition: all 0s;
}

.history-item:last-child {
  margin-right: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
  max-height: calc(100% - 128px);
  height: 120vw;
  user-select: none;
  -webkit-user-select: none;
}

.button {
  display: block;
  width: 25vw;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
  color: #444;
  height: 20%;
  font-size: 20px;
  font-family: 'Avenir Next';
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: all 0.2s;
  position: relative;
}

.button:active {
  background-color: #e6dce0;
  transform: scale(0.9);
  transition: all 0s;
}

.button:nth-child(4n) {
  border-right: 0;
}

.button:nth-child(n + 17) {
  border-bottom: 0;
}

.button.op {
  color: #e6cfd9;
  font-size: 18px;
}

.button.op:active {
  color: #d2b2c0;
}

.button.fn {
  color: #ff0073;
  font-size: 18px;
}

.button.fn:active {
  color: #d2176b;
}

.button.ans {
  background-color: #ff0073;
  color: #fff;
  font-size: 18px;
}

.button.ans:active {
  background-color: #d2176b;
  color: #ddd;
}

.button.highlight {
  color: #ff0073;
}

.button.button.highlight:active {
  color: #d2176b;
}

.button::before {
  content: '';
  display: block;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 2px solid #ff0073;
  position: absolute;
  top: calc(50% + 1px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 0.2s;
  opacity: 0;
}

.button:active::before {
  border-color: #d2176b;
  transition: all 0s;
}

.button.highlight::before {
  opacity: 1;
}

.label {
  display: inline-block;
  margin-top: 3px;
}
